.item-info {
  &--header {
    display: flex;
    justify-content: space-between;
    flex-direction: row;

    &--title {

    }
  }

  &--body {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
  }

  .item-info--image {
    max-width: 300px;
    img {
      width: 100%;
    }
  }

  .item-info--list {
    list-style: none;
    padding: 0;

    li {
      padding: 0;
    }

    &--row {
      &--label {
        font-size: 16px;
        font-weight: bold;
        text-align: left;
      }

      &--value {

        p {
          font-size: 14px;
        }
      }
    }
  }

}