
.auth-wrapper {
  display: flex;
  flex-direction: column;
  margin: auto;
  text-align: center;
  max-width: 300px;
  &--button {
    margin: 10px 0;
  }
  .site-form--error--field {
    padding: 0;
    color: #f23a2e;
    font-size: 15px;
  }
}
.site-form {
  &--error {
    &--block {
      padding: 10px 0;
      font-size: 14px;
      color: #f23a2e;
    }
    &--field {
      padding-left: 20px;
      color: #f23a2e;
    }
  }
}