.pagination {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  a {
    cursor: pointer;
  }
  a, span {
    text-align: center;
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50%;
    display: inline-block;
    background: $primary;
    color: $white;
    &:hover {
      color: $white;
    }
  }
  span {
    background: lighten(#ccc, 10%);
    color: $black;
  }
  .more-page {
    background: none;
  }
}